@use "./abstracts";
// @use "./components";

$success: #23bc23;

$secondary: #ebf8ef;

// TODO extend bootstrap colors
$btn-success-alt: #022902;

// Import all of Bootstrap's CSS
// @import "bootstrap/scss/bootstrap";

// Import Google fonts
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Rubik:wght@400;500&display=swap");

body {
	font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h5 {
	font-family: "Goldman", cursive;
	text-transform: uppercase;
}

// Hero section styling
.hero {
	/*
Todo use this code below to add the hero image with gradient
*/
	background: linear-gradient(
			to right,
			rgba($btn-success-alt, 0.8),
			rgba($btn-success-alt, 0.5)
		),
		url("../img/hero-homepage.png");
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.hero-about {
	background: url("../img/hero-about.png");
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.hero-service {
	background: url("../img/hero-service.png");
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.rounded-6 {
	border-radius: 3.5rem;
}

.input-box {
	background-color: #d0ddd5;
}

.input-box:focus {
	background-color: #d0ddd5;
}

.label-text {
	color: #2b392b;
}

// footer

// Define variables if needed
$font-color: #FFF;
$font-family: "Rubik";
$font-size: 22px;
$font-style: normal;
$font-weight: 400;
$line-height: normal;

footer {
	position: relative; 
	width: 100%;
    background: url("./img/group-45.png");
	// height: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
  }

  .footer-overlay {
    z-index: 1;
  }


// Define styles for the .reserve class
.reserve {
  color: $font-color;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
}

.layer-x-0020-1,
.layer-x-0020-1 * {
  box-sizing: border-box;
}
.layer-x-0020-1 {
  position: relative;
  transform: translate(-377.78px, 486.4px);
  overflow: visible;
}

footer .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
}


// .quick-links-column {
// 	position: relative;
// 	z-index: 1;
//   }
  
//   .quick-links {
// 	background: url('data:image/svg+xml;utf8,<svg class=&quot;vector&quot; width=&quot;947&quot; height=&quot;882&quot; viewBox=&quot;0 0 947 882&quot; fill=&quot;none&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;> ... </svg>');
// 	background-size: cover;
// 	position: relative;
// 	padding: 20px;
// 	z-index: 2;
// 	color: #fff;
//   }
  
//   .quick-links h5 {
// 	margin-bottom: 10px;
//   }
  
//   .quick-links ul li {
// 	margin-bottom: 5px;
//   }
  