$success: #23bc23;

// TODO extend bootstrap colors
$btn-success-alt: #2b392b;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Import Google fonts
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Rubik:wght@400;500&display=swap");

// Global custom fonts
body {
	font-family: "Rubik", sans-serif;
}

h1,
h2,
h3 {
	font-family: "Goldman", cursive;
	text-transform: uppercase;
}

.btn-success-alt {
	background: $btn-success-alt;
	color: #fff;
	transition: all 500ms;
}
.btn-success-alt:hover {
	color: #fff;
	background: $success;
}

// Hero section styling
.hero {
	background: url("https://placehold.co/1200x400/3d3d3d/000");
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}
